body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #6b3f2b, #a67c52);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-box h2 {
    margin-bottom: 20px;
    color: #6b3f2b;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #6b3f2b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-box button:hover {
    background: #4e2c1d;
}

.error {
    color: red;
    font-size: 14px;
}